In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/content/Churn_Modelling.csv")

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
X=df.iloc[:,3:13]
y=df.iloc[:,13]

In [6]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [7]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [8]:
Geography=pd.get_dummies(X["Geography"],drop_first=True)
Gender=pd.get_dummies(X["Gender"],drop_first=True)

In [10]:
X=pd.concat([X,Geography,Gender],axis=1)

In [11]:
X=X.drop(['Geography','Gender'],axis=1)

In [12]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [18]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [19]:
import keras
from keras.models import Sequential
from keras.layers import *

In [20]:
classifier=Sequential()

In [21]:
classifier.add(Dense(units=6,kernel_initializer="he_uniform",activation="relu",input_dim=11))
classifier.add(Dense(units=6,kernel_initializer="he_uniform",activation="relu"))
classifier.add(Dense(units=1,kernel_initializer="glorot_uniform",activation="sigmoid"))

In [22]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=["accuracy"])

In [25]:
model_history=classifier.fit(X_train,Y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
536/536 [==============================] - 2s 3ms/step - loss: 0.5098 - accuracy: 0.7921 - val_loss: 0.4771 - val_accuracy: 0.7876
Epoch 2/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4536 - accuracy: 0.7927 - val_loss: 0.4495 - val_accuracy: 0.7993
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4327 - accuracy: 0.8009 - val_loss: 0.4325 - val_accuracy: 0.8001
Epoch 4/100
536/536 [==============================] - 1s 3ms/step - loss: 0.4164 - accuracy: 0.8104 - val_loss: 0.4182 - val_accuracy: 0.8042
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8149 - val_loss: 0.4064 - val_accuracy: 0.8084
Epoch 6/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3910 - accuracy: 0.8196 - val_loss: 0.3969 - val_accuracy: 0.8148
Epoch 7/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3837 - accuracy: 0.8205 - val_loss: 0.3903 - val_accuracy: 0.8156
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3779 - accuracy: 0.8253 - val_loss: 0.3863 - val_accuracy: 0.8319
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3726 - accuracy: 0.8373 - val_loss: 0.3825 - val_accuracy: 0.8345
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3680 - accuracy: 0.8373 - val_loss: 0.3797 - val_accuracy: 0.8364
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3635 - accuracy: 0.8390 - val_loss: 0.3762 - val_accuracy: 0.8402
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3596 - accuracy: 0.8447 - val_loss: 0.3739 - val_accuracy: 0.8406
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3561 - accuracy: 0.8464 - val_loss: 0.3721 - val_accuracy: 0.8410
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3531 - accuracy: 0.8513 - val_loss: 0.3707 - val_accuracy: 0.8417
Epoch 15/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3510 - accuracy: 0.8550 - val_loss: 0.3701 - val_accuracy: 0.8432
Epoch 16/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3496 - accuracy: 0.8543 - val_loss: 0.3687 - val_accuracy: 0.8444
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8559 - val_loss: 0.3681 - val_accuracy: 0.8455
Epoch 18/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3471 - accuracy: 0.8567 - val_loss: 0.3678 - val_accuracy: 0.8432
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8572 - val_loss: 0.3672 - val_accuracy: 0.8459
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3449 - accuracy: 0.8576 - val_loss: 0.3666 - val_accuracy: 0.8448
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8576 - val_loss: 0.3654 - val_accuracy: 0.8478
Epoch 22/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3433 - accuracy: 0.8593 - val_loss: 0.3662 - val_accuracy: 0.8451
Epoch 23/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3423 - accuracy: 0.8582 - val_loss: 0.3650 - val_accuracy: 0.8466
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8589 - val_loss: 0.3642 - val_accuracy: 0.8489
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8599 - val_loss: 0.3645 - val_accuracy: 0.8485
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8602 - val_loss: 0.3639 - val_accuracy: 0.8493
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8617 - val_loss: 0.3630 - val_accuracy: 0.8497
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8595 - val_loss: 0.3627 - val_accuracy: 0.8497
Epoch 29/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8595 - val_loss: 0.3619 - val_accuracy: 0.8474
Epoch 30/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3370 - accuracy: 0.8586 - val_loss: 0.3619 - val_accuracy: 0.8493
Epoch 31/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3370 - accuracy: 0.8604 - val_loss: 0.3612 - val_accuracy: 0.8493
Epoch 32/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3365 - accuracy: 0.8612 - val_loss: 0.3616 - val_accuracy: 0.8493
Epoch 33/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3361 - accuracy: 0.8625 - val_loss: 0.3610 - val_accuracy: 0.8504
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3357 - accuracy: 0.8595 - val_loss: 0.3612 - val_accuracy: 0.8516
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8599 - val_loss: 0.3591 - val_accuracy: 0.8512
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8615 - val_loss: 0.3605 - val_accuracy: 0.8512
Epoch 37/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3349 - accuracy: 0.8623 - val_loss: 0.3585 - val_accuracy: 0.8501
Epoch 38/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3346 - accuracy: 0.8621 - val_loss: 0.3591 - val_accuracy: 0.8516
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8614 - val_loss: 0.3585 - val_accuracy: 0.8531
Epoch 40/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8608 - val_loss: 0.3582 - val_accuracy: 0.8546
Epoch 41/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3339 - accuracy: 0.8628 - val_loss: 0.3577 - val_accuracy: 0.8501
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8600 - val_loss: 0.3573 - val_accuracy: 0.8531
Epoch 43/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3338 - accuracy: 0.8602 - val_loss: 0.3570 - val_accuracy: 0.8542
Epoch 44/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3338 - accuracy: 0.8615 - val_loss: 0.3581 - val_accuracy: 0.8538
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8628 - val_loss: 0.3566 - val_accuracy: 0.8554
Epoch 46/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3333 - accuracy: 0.8621 - val_loss: 0.3559 - val_accuracy: 0.8542
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8612 - val_loss: 0.3556 - val_accuracy: 0.8557
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8627 - val_loss: 0.3558 - val_accuracy: 0.8554
Epoch 49/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3318 - accuracy: 0.8617 - val_loss: 0.3559 - val_accuracy: 0.8557
Epoch 50/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3320 - accuracy: 0.8619 - val_loss: 0.3552 - val_accuracy: 0.8580
Epoch 51/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3320 - accuracy: 0.8625 - val_loss: 0.3557 - val_accuracy: 0.8550
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3316 - accuracy: 0.8623 - val_loss: 0.3552 - val_accuracy: 0.8557
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3315 - accuracy: 0.8632 - val_loss: 0.3552 - val_accuracy: 0.8576
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3314 - accuracy: 0.8612 - val_loss: 0.3563 - val_accuracy: 0.8580
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8617 - val_loss: 0.3550 - val_accuracy: 0.8565
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8612 - val_loss: 0.3536 - val_accuracy: 0.8557
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3307 - accuracy: 0.8621 - val_loss: 0.3549 - val_accuracy: 0.8591
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3305 - accuracy: 0.8597 - val_loss: 0.3551 - val_accuracy: 0.8576
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3302 - accuracy: 0.8600 - val_loss: 0.3543 - val_accuracy: 0.8561
Epoch 60/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3305 - accuracy: 0.8627 - val_loss: 0.3549 - val_accuracy: 0.8573
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3303 - accuracy: 0.8640 - val_loss: 0.3532 - val_accuracy: 0.8561
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3302 - accuracy: 0.8630 - val_loss: 0.3545 - val_accuracy: 0.8557
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3304 - accuracy: 0.8619 - val_loss: 0.3540 - val_accuracy: 0.8561
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3303 - accuracy: 0.8623 - val_loss: 0.3555 - val_accuracy: 0.8546
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3303 - accuracy: 0.8632 - val_loss: 0.3537 - val_accuracy: 0.8580
Epoch 66/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3301 - accuracy: 0.8628 - val_loss: 0.3535 - val_accuracy: 0.8554
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3302 - accuracy: 0.8612 - val_loss: 0.3532 - val_accuracy: 0.8591
Epoch 68/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3300 - accuracy: 0.8612 - val_loss: 0.3535 - val_accuracy: 0.8599
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3299 - accuracy: 0.8610 - val_loss: 0.3537 - val_accuracy: 0.8603
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3295 - accuracy: 0.8640 - val_loss: 0.3538 - val_accuracy: 0.8603
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3295 - accuracy: 0.8623 - val_loss: 0.3532 - val_accuracy: 0.8584
Epoch 72/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3293 - accuracy: 0.8645 - val_loss: 0.3532 - val_accuracy: 0.8573
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3298 - accuracy: 0.8619 - val_loss: 0.3532 - val_accuracy: 0.8554
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3296 - accuracy: 0.8627 - val_loss: 0.3531 - val_accuracy: 0.8614
Epoch 75/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3297 - accuracy: 0.8638 - val_loss: 0.3529 - val_accuracy: 0.8569
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3293 - accuracy: 0.8638 - val_loss: 0.3543 - val_accuracy: 0.8588
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3297 - accuracy: 0.8623 - val_loss: 0.3527 - val_accuracy: 0.8576
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3292 - accuracy: 0.8647 - val_loss: 0.3527 - val_accuracy: 0.8576
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8655 - val_loss: 0.3551 - val_accuracy: 0.8565
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3293 - accuracy: 0.8628 - val_loss: 0.3532 - val_accuracy: 0.8569
Epoch 81/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3293 - accuracy: 0.8632 - val_loss: 0.3550 - val_accuracy: 0.8576
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3285 - accuracy: 0.8642 - val_loss: 0.3541 - val_accuracy: 0.8565
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3288 - accuracy: 0.8651 - val_loss: 0.3544 - val_accuracy: 0.8573
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3291 - accuracy: 0.8647 - val_loss: 0.3531 - val_accuracy: 0.8580
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3289 - accuracy: 0.8640 - val_loss: 0.3530 - val_accuracy: 0.8573
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8632 - val_loss: 0.3519 - val_accuracy: 0.8599
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3285 - accuracy: 0.8617 - val_loss: 0.3538 - val_accuracy: 0.8595
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8645 - val_loss: 0.3535 - val_accuracy: 0.8569
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3284 - accuracy: 0.8664 - val_loss: 0.3549 - val_accuracy: 0.8591
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3287 - accuracy: 0.8634 - val_loss: 0.3532 - val_accuracy: 0.8603
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3281 - accuracy: 0.8658 - val_loss: 0.3532 - val_accuracy: 0.8584
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3285 - accuracy: 0.8643 - val_loss: 0.3530 - val_accuracy: 0.8580
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3281 - accuracy: 0.8632 - val_loss: 0.3535 - val_accuracy: 0.8576
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3284 - accuracy: 0.8662 - val_loss: 0.3523 - val_accuracy: 0.8576
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3280 - accuracy: 0.8628 - val_loss: 0.3532 - val_accuracy: 0.8580
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3281 - accuracy: 0.8649 - val_loss: 0.3543 - val_accuracy: 0.8580
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3282 - accuracy: 0.8647 - val_loss: 0.3526 - val_accuracy: 0.8576
Epoch 98/100
536/536 [==============================] - 1s 3ms/step - loss: 0.3283 - accuracy: 0.8636 - val_loss: 0.3531 - val_accuracy: 0.8569
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3282 - accuracy: 0.8645 - val_loss: 0.3533 - val_accuracy: 0.8610
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3284 - accuracy: 0.8636 - val_loss: 0.3533 - val_accuracy: 0.8576

In [26]:
y_pred=classifier.predict(X_test)
y_pred=(y_pred>0.5)

In [27]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [29]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,y_pred)

In [31]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,Y_test)

In [32]:
score

0.86